{% extends "::base.html.twig" %}

{% block title %}Homepage - {{ parent() }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}


    <div class="bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 mx-auto">
                    <h1>Eglės Nagų Studija</h1>
                    <a href="#" class="btn btn-lg btn-outline js-scroll-trigger">
                        <i class="fa fa-shopping-cart "></i> MAKE AN APPOINTMENT
                    </a>
                </div>
            </div>
        </div>
    </div>
    {#<section id="calendar">#}
    {#<div class="container">#}
    {#<div class="row">#}
    {#<div class="col-lg-4 col-lg-offset mx-auto">#}
    {#<h2>Calendar</h2>#}
    {#</div>#}
    {#<div class="col-lg-8 col-lg-offset-2 mx-auto">#}
    {#{% include '@FullCalendar/Calendar/calendar.html.twig' %}#}
    {#</div>#}
    {#</div>#}
    {#</div>#}
    {#</section>#}
    <!-- Galery -->
    <section id="galery">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading text-uppercase">Follow on instagram! </h2>
                    {#<hr class="primary">#}
                </div>
            </div>
            <div class="row photos">
                <div class="col-lg-3 text-center">
                    <a href="https://www.instagram.com/p/Bb3gwqXl0o3/?taken-by=eglesnagustudija" target="_blank">
                        <img src="/images/3.jpg" alt="">
                    </a>

                </div>
                <div class="col-lg-3 text-center">
                    <a href="https://www.instagram.com/p/Bb79n6OFzJj/?taken-by=eglesnagustudija" target="_blank">
                        <img src="/images/4.jpg" alt="">
                    </a>
                </div>
                <div class="col-lg-3 text-center">
                    <a href="https://www.instagram.com/p/Bb3hBVBlAe7/?taken-by=eglesnagustudija" target="_blank">
                        <img src="/images/2.jpg" alt="">
                    </a>
                </div>
                <div class="col-lg-3 text-center">
                    <a href="https://www.instagram.com/p/Baqejy9FPb3/?taken-by=eglesnagustudija" target="_blank">
                        <img src="/images/1.jpg" alt="">
                    </a>
                </div>
            </div>
            <a href="">
                <i class="" aria-hidden="true"></i></a>
            <a href="https://www.instagram.com/eglesnagustudija/" class="btn btn-lg btn-outline js-scroll-trigger"
               target="_blank">
                <i class="fa fa-instagram"></i> visit instagram
            </a>
        </div>
    </section>

    <!-- Services -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading text-uppercase">Services</h2>
                    {#<h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>#}
                </div>
            </div>
            <div class="services row text-center">
                {% for service in services %}
                    <div class="col-md-4">
                        {#<span class="fa-stack fa-4x">#}
                        {#<i class="fa fa-circle fa-stack-2x text-primary"></i>#}
                        {#<i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>#}
                        {#</span>#}
                        <h4 class="service-heading">{{ service.title }}</h4>
                        <p class="text-muted">{{ service.about }}</p>
                        <p class="text-muted">Time duration {{ service.duration|date('H:i') }} val.</p>
                        <p class="text-muted">{{ service.price }} Eur</p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

    <!-- Team -->
    <section class="bg-light" id="team">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading text-uppercase">Our Team</h2>
                    {#<h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>#}
                </div>
            </div>
            <div class="team row">
                {% for worker in workers %}
                    <div class="col-sm-4">
                        <div class="team-member">
                            <img class="mx-auto" src="{{ '/uploads/images/workers/' ~ worker.image }}"
                                 alt="">
                            <h4>{{ worker.name }}</h4>
                            <p class="text-muted">{{ worker.position }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

    <!-- Brands -->
    <section id="brands">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading text-uppercase">We use these products</h2>
                    {#<h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>#}
                </div>
            </div>
            <div class="brands row">
                <div class="col-md-2 col-md-offset-1">
                    <a href="https://www.alveca.de/" target="_blank">
                        <img src="/images/alveca.JPG" alt="">
                    </a>
                </div>
                <div class="col-md-2">
                    <a href="http://www.firstgel.de/" target="_blank">
                        <img src="/images/firstgel-logo.png " alt="">
                    </a>
                </div>
                <div class="col-md-2">
                    <a href="https://kineticsbeauty.com/" target="_blank">
                        <img src="/images/kinetics.png" alt="">
                    </a>
                </div>
                <div class="col-md-2">
                    <a href="http://senses.lt/" target="_blank">
                        <img src="/images/senses.png" alt="">
                    </a>
                </div>
                <div class="col-md-2">
                    <a href="https://trendnails-international.com/" target="_blank">
                        <img src="/images/trendnails-international-logo.jpg" alt="">
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section id="contacts">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading text-uppercase">We are waiting for you!</h2>
                    <hr class="primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 text-center">
                    <i class="fa fa-phone fa-4x sr-contact"></i>
                    <p>8-654-43797</p><br><br>
                    <i class="fa fa-address-book fa-4x" aria-hidden="true"></i>
                    <p>Vilniaus g. 134 (2 aukštas) Šiauliai</p><br><br>
                    <i class="fa fa-envelope-o fa-4x sr-contact"></i>
                    <p><!--<a href="mailto:your-email@your-domain.com">-->musteikyte.egle@gmail.com<!--</a>--></p>
                </div>
                <div class="col-lg-6 text-center">
                    <i class="fa fa-map-marker fa-4x"></i>
                    <p>We are here:</p>
                    <div id="map" style="width:100%;height:250px;color: black"></div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
