{% extends "::base.html.twig" %}

{% block title %}Homepage - {{ parent() }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}


    <div class="bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 mx-auto">
                    <a href="#" class="btn btn-lg btn-outline js-scroll-trigger">
                        <i class="fa fa-shopping-cart "></i> MAKE AN APPOINTMENT
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="calendar">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-lg-offset mx-auto">
                    <h2>Calendar</h2>
                </div>
                <div class="col-lg-8 col-lg-offset-2 mx-auto">
                    {% include '@FullCalendar/Calendar/calendar.html.twig' %}
                </div>
            </div>
        </div>
    </div>
    <div id="instagram">
            <a href="" >
                <i class="" aria-hidden="true"></i></a>
        <a href="https://www.instagram.com/eglesnagustudija/" class="btn btn-lg btn-outline js-scroll-trigger" target="_blank">
            <i class="fa fa-instagram"></i> visit instagram
        </a>
    </div>
<div class="container">
    <div class="row workers">
        <div class="col-md-12">
            <h2>Meet our Team</h2>
            <p>As a team of specialist therapists, throughout the year, we are constantly upgrading our skills so that we can bring you the latest knowledge and leading-edge treatments that our industry has to offer. Our team of therapists who will go beyond the call of duty to provide you with an atmosphere of relaxation and a first class service.</p>		</div>
        {% for worker in workers %}
        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 workers">
            <div class="team">
                <div class="team-pic">
                    <img src="{{ '/uploads/images/workers/' ~ worker.image }}" alt="{{ worker }}">
                </div>
                <div class="team-text">
                    <h3>{{ worker.name }}</h3>
                    <h4>{{ worker.position }}</h4>
                    {#<p>I started The Beauty Room in 2006. Since then I have watched the business grow and grow and grow! So much so, I opened a new salon in Mansfield in 2014. I like to keep up to date with the latest treatments and strive to provide the best for our clients.</p>#}
                </div>
            </div>

        </div>
        {% endfor %}

    </div>

    </div>


    {#<div class="header-content">#}
    {#<div class="header-content-inner">#}
    {#<img src="{{ asset("images/header.jpg") }}" class="header" style="width:500px;height:600px;"#}
    {#alt="first page image">#}
    {#<p>Nail Studio</p>#}
    {#<br>#}
    {#<a href="#galery" class="btn btn-primary btn-xl page-scroll img-rounded">Photo galery</a>#}
    {#<div class="row">#}
    {#<div class="col-lg-4 col-md-offset-4">#}
    {#<a href="{{ path('app_facebook_connect') }} "#}
    {#class="btn btn-block btn-social btn-primary btn-facebook">#}
    {#<span class="fa fa-facebook"></span> Sign in with facebook#}
    {#</a>#}
    {#</div>#}
    {#</div>#}
    {#</div>#}
    {#</div>#}


    {#<nav class="navbar navbar-inverse navbar-fixed-top">#}
    {#<div class="container-fluid">#}
    {#<div class="navbar-header">#}
    {#<a class="navbar-brand" href="#">Nail Studio</a>#}
    {#</div>#}
    {#<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">#}
    {#<ul class="nav navbar-nav navbar-right">#}
    {#<li><a class="page-scroll" href="#galery">Photo galery</a></li>#}
    {#<li><a class="page-scroll" href="#about">About</a></li>#}
    {#<li><a class="page-scroll" href="#services">Services</a></li>#}
    {#<li><a class="page-scroll" href="#contacts">Contacts</a></li>#}
    {#</ul>#}
    {#</div>#}
    {#</div>#}
    {#</nav>#}

{% endblock %}
