{% extends "::base.html.twig" %}

{% block title %}Homepage - {{ parent() }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}


    <div class="bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 mx-auto">
                    <a href="#" class="btn btn-lg btn-outline js-scroll-trigger">
                        <i class="fa fa-shopping-cart "></i> MAKE AN APPOINTMENT
                    </a>
                </div>
            </div>
        </div>
    </div>
    <section id="calendar">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-lg-offset mx-auto">
                    <h2>Calendar</h2>
                </div>
                <div class="col-lg-8 col-lg-offset-2 mx-auto">
                    {% include '@FullCalendar/Calendar/calendar.html.twig' %}
                </div>
            </div>
        </div>
    </section>
    <div id="instagram">
        <a href="">
            <i class="" aria-hidden="true"></i></a>
        <a href="https://www.instagram.com/eglesnagustudija/" class="btn btn-lg btn-outline js-scroll-trigger"
           target="_blank">
            <i class="fa fa-instagram"></i> visit instagram
        </a>
    </div>

    <!-- Team -->
    <section class="bg-light" id="team">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading text-uppercase">Our Amazing Team</h2>
                    {#<h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>#}
                </div>
            </div>
            <div class="row">
                {% for worker in workers %}

                    <div class="col-sm-4">
                        <div class="team-member">
                            <img class="mx-auto" src="{{ '/uploads/images/workers/' ~ worker.image }}"
                                 alt="">
                            <h4>{{ worker.name }}</h4>
                            <p class="text-muted">{{ worker.position }}</p>
                            {#<ul class="list-inline social-buttons">#}
                                {#<li class="list-inline-item">#}
                                    {#<a href="#">#}
                                        {#<i class="fa fa-twitter"></i>#}
                                    {#</a>#}
                                {#</li>#}
                                {#<li class="list-inline-item">#}
                                    {#<a href="#">#}
                                        {#<i class="fa fa-facebook"></i>#}
                                    {#</a>#}
                                {#</li>#}
                                {#<li class="list-inline-item">#}
                                    {#<a href="#">#}
                                        {#<i class="fa fa-linkedin"></i>#}
                                    {#</a>#}
                                {#</li>#}
                            {#</ul>#}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- Brands -->
    <section class="brands">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img class="img-fluid d-block mx-auto" src="/images/alveca.jpg" alt="">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img class="img-fluid d-block mx-auto" src="/images/firstgel-logo.png" alt="">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img class="img-fluid d-block mx-auto" src="/images/kinetics.png" alt="">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img class="img-fluid d-block mx-auto" src="/images/senses.png" alt="">
                    </a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
