{% extends "::base.html.twig" %}

{% block title %}Homepage - {{ parent() }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        body {
            margin: 0;
            padding: 0;
            font-weight: 100;
            font-family: 'Lato';
        }
        .title {
            margin: 20px auto;
            text-align: center;
            font-size: 70px;
            font-weight: 700;
        }

    </style>
{% endblock %}

{% block body %}

        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            <div class="title">You are now connected with facebook. </div>
            <div>
            <h1>Now you are ({{ app.user ? app.user.name : 'Aquanauts' }})</h1>
                <a href="{{ path('facebook_logout') }}" class="btn btn-danger">Logout</a>
            </div>
        {% else %}
            <a href="{{ path('app_facebook_connect') }}" class="btn btn-primary">
            <span class="icon">
                <i class="fa fa-facebook"></i>
            </span>
                <span>Login with Facebook</span>
            </a>
        {% endif %}

{% endblock %}
