<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Nail Studio</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-left">
                <li><a class="page-scroll" href="#galery">Photo galery</a></li>
                <li><a class="page-scroll" href="#services">Services</a></li>
                <li><a class="page-scroll" href="#team">Our team</a></li>
                <li><a class="page-scroll" href="#contacts">Contacts</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">

                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <li><img src="{{ app.user.facebookPicture }}"></li>
                    <li>
                        <a href="{% if is_granted("ROLE_ADMIN") %}{{ path('admin') }}{% else %}{{ path('userpage') }}{% endif %}"><span
                                    class="glyphicon glyphicon-user"></span> {{ app.user.name }}</a></li>
                    <li><a href="{{ path('facebook_logout') }}"><span class="glyphicon glyphicon-log-out"></span>
                            Logout</a></li>
                {% else %}
                    <li><a href="{{ path('app_facebook_connect') }}"><span class="fa fa-facebook "></span> Login with
                            facebook</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
