<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">{{ 'menu.logo'|trans }}</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#galery">{{ 'menu.galery'|trans }}</a></li>
                <li><a href="#services">{{ 'menu.services'|trans }}</a></li>
                <li><a href="#team">{{ 'menu.ourteam'|trans }}</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">

                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <li><img src="{{ app.user.facebookPicture }}"></li>
                    <li>
                        <a href="{% if is_granted("ROLE_ADMIN") %}{{ path('admin') }}{% else %}{{ path('userpage') }}{% endif %}"><span
                                    class="glyphicon glyphicon-user"></span> {{ app.user.name }}</a></li>
                    <li><a href="{{ path('facebook_logout') }}"><span class="glyphicon glyphicon-log-out"></span>
                            {{ 'menu.logout'| trans }}</a></li>
                {% else %}
                    <li><a href="{{ path('app_facebook_connect') }}"><span class="fa fa-facebook "></span> {{ 'menu.facebook'| trans }}</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
