{% extends "::base.html.twig" %}

{% block title %}Homepage - {{ parent() }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <section id="user">
        <div class="container-fluid">
            <div class="row">
                {#{% for users in user %}#}
                <p>Jūs esate: {{ userId }} </p>
                <p>Jūsų pasirinkta paslauga: {{ serviceOne.title }} </p>
                <p>Kaina: {{ serviceOne.price }} {{ 'services.money'|trans }} </p>
                <p style="text-transform: capitalize;">
                    {{ 'services.time'|trans }}:
                    {{ serviceOne.durationInMinutes }}
                    {{ 'services.duration'|trans }}
                </p>


                {#{% endfor %}#}
            </div>
            {#<div class="row">#}
            {#<div class="col-lg-12 text-center">#}
            {#<div class="row">#}
            {#{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}#}
            {#<div class="title">Connected with facebook.</div>#}

            {#<h1>You are ({{ app.user ? app.user.name : 'Aquanauts' }})</h1>#}
            {#<img src="{{ app.user.facebookPicture }}">#}
            {#<a href="{{ path('facebook_logout') }}" class="btn btn-danger">Logout</a>#}

            {#{% else %}#}
            {#<a href="{{ path('app_facebook_connect') }}" class="btn btn-primary">#}
            {#<span class="icon">#}
            {#<i class="fa fa-facebook"></i>#}
            {#</span><span>Login with Facebook</span>#}
            {#</a>#}
            {#{% endif %}#}
            {#</div>#}
            {#</div>#}
            <div class="row">
                <div class="col-lg-6 text-center">
                    {#<form>#}
                        {#<div class="form-group">#}
                            {#<label for="sel1">Pasirinkite paslaugą:</label>#}
                            {#<select class="form-control" id="sel1">#}
                                {#{% for servise in services %}#}
                                {#<option value="{{ serviceId }}">{{ servise.title }}#}
                                    {#{{ 'services.time'|trans }}#}
                                    {#{{ servise.durationInMinutes }}#}
                                    {#{{ 'services.duration'|trans }}#}
                                    {#nuo#}
                                    {#{{ servise.price }}#}
                                    {#{{ 'services.money'|trans }}#}
                                {#</option>#}
                                {#{% endfor %}#}
                            {#</select>#}
                        {#</div>#}
                    {#</form>#}
                    <form>
                        <div class="form-group">
                            <label for="sel1">Pasirinkite darbuotoją:</label>
                            <select class="form-control" id="sel1">
                                {% for workerbyService in workersByServices %}

                                    <option>{{ workerbyService.workers }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </form>
                    <div id='external-events'>
                        <h4>Perkelkite laiką</h4>
                        <div class="fc-event ui-draggable ui-draggable">Nagai Lina</div>
                        {#<div class='fc-event'>My Event 1</div>#}
                        {#<div class='fc-event'>My Event 2</div>#}
                        {#<div class='fc-event'>My Event 3</div>#}
                        {#<div class='fc-event'>My Event 4</div>#}
                        {#<div class='fc-event'>My Event 5</div>#}
                        {#<p>#}
                        {#<input type='checkbox' id='drop-remove' />#}
                        {#<label for='drop-remove'>remove after drop</label>#}
                        {#</p>#}
                    </div>
                </div>
                <div class="col-lg-6 text-center">
                    <div id='wrap'>
                        {% include '@FullCalendar/Calendar/calendar.html.twig' %}
                        <div style='clear:both'></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
