{% extends "::base.html.twig" %}

{% block title %}Homepage - {{ parent() }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}

<!-- Reservation-list Section -->
<section id="reservation-list" class="reservation-list-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 ">
                <h2>Jūsų rezervacijos</h2>
            </div>
            <table class = "table table-striped bg-info table-hover table-responsive" id="myTable">
                <thead class="thead-default">
                <tr>
                    <th>Paslaugos</th>
                    <th>Atvykimo laikas</th>
                    <th>Registracijos data</th>
                </tr>
                </thead>
                <tbody>
                {% for schedules in schedule %}
                <tr>
                    <td>{{ schedules.title }}</td>
                    <td>{{ schedules.start|date("Y-m-d H:s", "Europe/Vilnius") }}</td>
                    <td>{{ schedules.created|date("Y-m-d H:s", "Europe/Vilnius") }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</section>
{% endblock %}
